.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.hero {padding: 166px 0;background: linear-gradient(to right, #159957, #155799);}
.hero h1{font-size: 5.5rem;font-weight: 600;line-height: 1.2;color:#fff;}
.hero p{color:#fff;font-size: 1.3rem;}
.hero a {background-color: #19d376;border-color: #19d376;}

@media only screen and (max-width:767px){
  .hero h1{font-size: 4rem;}
}
.services{padding:85px 0;}
.services img {width: 30%;}
.services h2 {color: #343a40 !important;font-size: 2rem;font-weight: 400;}

@media only screen and (max-width:767px){
  .services a {margin-bottom: 86px;}
}

.about{padding:60px 0;}
.about.grey {background: #f9f9f9;}
.about h2 {color: #343a40 !important;font-size: 3rem;font-weight: 400;margin-top:50px;}
.about p {font-size: 1.2rem;font-weight: 400;}
.about hr{margin: 5rem 0;}

.pagetitle {padding: 50px 0;background: linear-gradient(to right, #159957, #155799);}
.pagetitle h1{font-size: 3rem;color:#fff;}

.aboutWelcome{padding:80px 0;background: #f5f5f5;}
.aboutWelcome h2{color: #343a40;font-size: 2.5rem;font-weight: 400;}
.aboutWelcome .sep {height: 3px;margin: 15px 0 20px;width: 42%;background: #19d376;}
.aboutWelcome p{}

.aboutPg{padding:80px 0;}
.aboutPg h2 {color: #343a40;font-size: 2.5rem;font-weight: 400;}
.aboutPg p.desc {padding: 0 130px;}
.aboutPg .team {box-shadow: 2px 2px 12px rgba(0,0,0,0.2); margin: 0 15px; padding: 0;}
.aboutPg .team h3{color: #343a40;font-size: 1.5rem;}
.aboutPg .team h3 small{color: #6a6f74;font-style: italic;font-size:70%;}

.contactPg{padding:80px 0;}
.contactPg h2 {color: #343a40;font-size: 2.5rem;font-weight: 400;}
.contactPg .sep{height:3px; width:32%;background: #19d376;}
.contactPg address {
  border: 1px solid #d4d4d4;
  padding: 25px 25px 10px;
  border-radius: 5px;
  background: linear-gradient(to left, #159957, #155799);
  color: #fff;
}
.contactPg address p{}
.contactPg address p strong {
  font-style: italic;
  font-size: 1rem;
  margin-right: 14px;
}

@media only screen and (max-width:767px){
  .aboutPg p.desc {padding: 0 60px;}
}

/*Footer*/
footer{padding:70px 0px;}	       
.copyright{text-align:left;}
.social{margin:0;padding:0;}
.social li {display: inline-block;padding:5px 0px;list-style: none;}
.social li a{color:#FFF;letter-spacing: 2px;text-decoration:none;font-size:14px;}
.social .fa{margin-right: 10px;font-size:1rem;}

@media only screen and (max-width:767px){
  .copyright{text-align:center}
  .social {text-align: center;}
}

